[submodule "frontend"]
	path = frontend
	url = https://github.com/prototyp3-dev/frontend-web-cartesi
[submodule "backend"]
	path = backend
	url = https://github.com/Aryamanraj/decentraAdBackend.git
[submodule "frontend-web-cartesi"]
	path = frontend-web-cartesi
	url = https://github.com/prototyp3-dev/frontend-web-cartesi
[submodule "custom-contracts"]
	path = custom-contracts
	url = https://github.com/jjhbk/deploy-custom-contracts
